## Problem Set 2

#### Question 1: What value is displayed when last expression (a) is evaluated ? Explain your answer by indicating what happens in every executed statement.

In [1]:
a = 0

def b():
    global a
    a = c(a)
    
def c(a):
    return a + 2

In [2]:
b()

In [3]:
b()

In [4]:
b()

In [5]:
a

6

Explanation:
In the first iteration, value of variable 'a' is 0 since it is declared as an global variable. When the function b() calls the function c(a), it will return the value 2 which is assigned with the variable 'a'. So, now when we call function b() again it will pass the value of 'a' as 2 for the function c(). So, function c() will return the value 4. Likewise, in the third iteration function c() will return the value 6. Thus, the result of print(a) is 6.

#### Question 2: Function fileLength(), given to you, takes the name as input and returns the length of the file. Modify function fileLength() so that a friendly message is printed instead

In [6]:
import os

def fileLength(file_name):
    try:
        f = open(file_name, 'r')
        print(len(f.readlines()))

    except OSError as e:
        print("File " + file_name + " not found.")

fileLength("midterm.py")
fileLength("idterm.py")

4
File idterm.py not found.

### Question 3: Write a class Marsupial that can be used as below. Now write a class named as Kangaroo as a subclass of Marsupial that inherits all the attributes of Marsupial

In [7]:
class Marsupial:
    def __init__(self):
        "keeping it here for future"
        self.pouch = []

    def put_in_pouch(self, val):
        self.pouch.append(val)

    def pouch_contents(self):
        print(self.pouch)

In [8]:
m = Marsupial()
try:
    m.put_in_pouch("doll")
    m.put_in_pouch("firetruck")
    m.put_in_pouch("kitten")
    m.pouch_contents()

except AttributeError:
    print("There is no such attribute")

['doll', 'firetruck', 'kitten']

In [9]:
class Kangaroo(Marsupial):
    def __init__(self, x, y):
        "importing all functions from it's parent class Marsupial"
        super().__init__()
        self.coordx = x
        self.coordy = y

    def jump(self, dx, dy):
        self.coordx = self.coordx + dx
        self.coordy = self.coordy + dy

    def __str__(self):
        print("I am a Kangaroo located at coordinates (%d, %d)" %(self.coordx, self.coordy))
        return ""

In [10]:
k = Kangaroo(0,0)
print(k)
k.put_in_pouch("doll")
k.put_in_pouch("firetruck")
k.put_in_pouch("kitten")
k.pouch_contents()
k.jump(1, 0)
k.jump(1, 0)
k.jump(1, 0)
print(k)

I am a Kangaroo located at coordinates (0, 0)

['doll', 'firetruck', 'kitten']
I am a Kangaroo located at coordinates (3, 0)

#### Question 4: Write function collatz() that takes a positive integer x as input and prints the Collatz sequence starting at x. Your function should stop when the sequence gets to number 1. Your implementation must be recursive, without any loops.

In [3]:
checker = "Yes"
def collatz(variable_number):
    if variable_number == 1:
        print(1)
    else:
        global checker
        if checker == "Yes":
            checker = "No"
            print(variable_number)
            collatz(variable_number)
        else:
            if variable_number != 1:
                if variable_number % 2 == 0:
                    variable_number = variable_number / 2
                    if variable_number != 1:
                        print(int(variable_number))
                    collatz(variable_number)
                else:
                    variable_number = 3 * variable_number + 1
                    print(int(variable_number))
                    collatz(variable_number)

collatz(1)

1

In [4]:
collatz(10)

10
5
16
8
4
2
1

#### Question 5: Write a recursive method binary() that takes a non-negative integer n and prints the binary representation of integer n.

In [13]:
def binary(integerNumber):
    if integerNumber < 0:
        return 'Must be a positive integer'
    if integerNumber == 0:
        return 0
    else:
        return (integerNumber % 2 + 10 * binary(int(integerNumber // 2)))

In [14]:
binary(-8)

'Must be a positive integer'

In [15]:
binary(0)

0

In [16]:
binary(3)

11

In [17]:
binary(9)

1001

#### Question 6: Implement a class named HeadingParser that can be used to parse an HTML document, and retrieve and print all the headings in the document. You should implement your class as a subclass of HTMLParser, defined in Standard Library module html.parser. When fed a string containing HTML code, your class should print the headings, one per line and in the order in which they appear in the document. Each heading should be indented as follows: an h1 heading should have indentation 0, and h2 heading should have indentation 1, etc. Test your implementation using w3c.html.

In [18]:
import re
from html.parser import HTMLParser
infile = open('w3c.html') 
content = infile.read() 
infile.close()

class HeadingParser(HTMLParser):
    def handle_starttag(self, tag, attrs):
        global getHeading
        match = re.match(r'h(\d)', tag, re.I) 
        if match: getHeading = int(match.group(1))
            
    def handle_endtag(self, tag):
        match = re.match(r'h(\d)', tag, re.I)
        if match: getHeading = 0

    def handle_data(self, data):
        if getHeading > 0:
            tab = getHeading - 1
            out = " "*tab
            print(out+data)
            
getHeading = 0
hp = HeadingParser()
hp.feed(content)

W3C Mission


 Principles

#### Question 7: Implement recursive function webdir() that takes as input: a URL (as a string) and non-negative integers depth and indent. Your function should visit every web page reachable from the starting URL web page in depth clicks or less, and print each web page's URL. As shown below, indentation, specified by indent, should be used to indicate the depth of a URL.

In [19]:
import requests

from bs4 import BeautifulSoup   

def webdir(url, depth, indent):
    resp = requests.get(url)
    print(url)
    if(depth == indent):
        return
    soup = BeautifulSoup(resp.text, 'html.parser')  
    for link in soup.findAll('a'):
        new_link = link.get('href')
        if(new_link.startswith('https')):
            webdir(new_link, depth, indent+1)

webdir('http://reed.cs.depaul.edu/lperkovic/csc242/test1.html', 2, 0)

http://reed.cs.depaul.edu/lperkovic/csc242/test1.html

#### Question 8: Write SQL queries on the below database table that return:

In [20]:
%load_ext sql
%sql sqlite:///weatherInformationDatabase.db

In [21]:
%%sql
 create table weatherTable(City varchar(20), Country varchar(20), Season varchar(20), Temperature varchar(20), Rainfall varchar(20))

 * sqlite:///weatherInformationDatabase.db
Done.

[]

In [22]:
%%sql
insert into weatherTable values('Mumbai','India', 'Winter','24.8', '5.9');
insert into weatherTable values('Mumbai','India', 'Spring','28.4', '16.2');
insert into weatherTable values('Mumbai','India', 'Summer','27.9', '1549.4');
insert into weatherTable values('Mumbai','India', 'Fall','27.6', '346.0');
insert into weatherTable values('London','United Kingdom', 'Winter','4.2', '207.7');
insert into weatherTable values('London','United Kingdom', 'Spring','8.3', '169.6');
insert into weatherTable values('London','United Kingdom', 'Summer','15.7', '157.0');
insert into weatherTable values('London','United Kingdom', 'Fall','10.4', '218.5');
insert into weatherTable values('Cairo','Egypt', 'Winter','13.6', '16.5');
insert into weatherTable values('Cairo','Egypt', 'Spring','20.7', '6.5');
insert into weatherTable values('Cairo','Egypt', 'Summer','27.7', '0.1');
insert into weatherTable values('Cairo','Egypt', 'Fall','22.2', '4.5');

 * sqlite:///weatherInformationDatabase.db
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.

[]

#### a) All the temperature data

In [23]:
%%sql
select Temperature from weatherTable

 * sqlite:///weatherInformationDatabase.db
Done.

[('24.8',),
 ('28.4',),
 ('27.9',),
 ('27.6',),
 ('4.2',),
 ('8.3',),
 ('15.7',),
 ('10.4',),
 ('13.6',),
 ('20.7',),
 ('27.7',),
 ('22.2',)]

#### b) All the cities, but without repetition

In [24]:
%%sql
select DISTINCT City from weatherTable

 * sqlite:///weatherInformationDatabase.db
Done.

[('Mumbai',), ('London',), ('Cairo',)]

#### c) All the records for India

In [25]:
%%sql
select * from weatherTable where Country='India'

 * sqlite:///weatherInformationDatabase.db
Done.

[('Mumbai', 'India', 'Winter', '24.8', '5.9'),
 ('Mumbai', 'India', 'Spring', '28.4', '16.2'),
 ('Mumbai', 'India', 'Summer', '27.9', '1549.4'),
 ('Mumbai', 'India', 'Fall', '27.6', '346.0')]

#### d) All the fall records

In [26]:
%%sql
select * from weatherTable where Season='Fall'

 * sqlite:///weatherInformationDatabase.db
Done.

[('Mumbai', 'India', 'Fall', '27.6', '346.0'),
 ('London', 'United Kingdom', 'Fall', '10.4', '218.5'),
 ('Cairo', 'Egypt', 'Fall', '22.2', '4.5')]

#### e) The city, country, and season for which the average rainfall is between 200 and 400 millimeters.

In [27]:
%%sql
SELECT  City, Country, Season, AVG(Rainfall) FROM weatherTable 
GROUP BY Rainfall
Having AVG(Rainfall) BETWEEN 200 AND 400;

 * sqlite:///weatherInformationDatabase.db
Done.

[('London', 'United Kingdom', 'Winter', 207.7),
 ('London', 'United Kingdom', 'Fall', 218.5),
 ('Mumbai', 'India', 'Fall', 346.0)]

#### f) The city and country for which the average Fall temperature is above 20 degrees, in increasing temperature order.

In [28]:
%%sql
select City, Country, AVG(Temperature) FROM weatherTable
WHERE Season = 'Fall'  
group by Temperature
HAVING AVG(Temperature) > 20
ORDER BY AVG(Temperature) ASC;

 * sqlite:///weatherInformationDatabase.db
Done.

[('Cairo', 'Egypt', 22.2), ('Mumbai', 'India', 27.6)]

#### g) The total annual rainfall for Cairo.

In [29]:
%%sql
select City, SUM(Rainfall) FROM weatherTable where City='Cairo'

 * sqlite:///weatherInformationDatabase.db
Done.

[('Cairo', 27.6)]

#### h) The total rainfall for each season.

In [30]:
%%sql
select Season, SUM(Rainfall) FROM weatherTable
group by Season

 * sqlite:///weatherInformationDatabase.db
Done.

[('Fall', 569.0),
 ('Spring', 192.29999999999998),
 ('Summer', 1706.5),
 ('Winter', 230.1)]

#### Question 9: Write list comprehensions expressions that use list words and generate the following lists:

In [31]:
words = ["The", "quick", "brown", "fox", "jumps", "over", "the", "lazy", "dog"]

# a) Convert words into upper case
wordsUpper = [word.upper() for word in words]
print(wordsUpper)
print("\n")


# b) Convert words into lower case

wordsLower = [word.lower() for word in words]
print(wordsLower)
print("\n")


# c) the list of length of words in list words

wordsLength = []
for w in words:
    wordsLength.append(len(w))     
print(wordsLength)
print("\n")


# d) the list containing a list for every word of list words, where each list contains the word in uppercase and lowercase and 
# the length of the word

initializeCounterValue = 0
singleListArray = []
    
for j in words:
    singleListArray.append(wordsUpper[initializeCounterValue])
    singleListArray.append(wordsLower[initializeCounterValue])
    singleListArray.append(wordsLength[initializeCounterValue])
    initializeCounterValue = initializeCounterValue + 1

delimiterVariableLimit = 3
resultArray = [singleListArray[additor:additor+delimiterVariableLimit] for additor in range(0, len(singleListArray), delimiterVariableLimit)]
print(resultArray)
print("\n")

# e) the list of words in list words containing 4 or more characters

def wordString(k, str):    
    string = []     
    text = str.split(" ")     
    for x in text:         
        if len(x) >= k:            
            string.append(x)             
    return string
    
result_list = [''.join([str(c) for c in lst]) for lst in words]
result_string = ' '.join(result_list)
requiredCharacterLength = 4
print(wordString(requiredCharacterLength, result_string))

['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']


['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']


[3, 5, 5, 3, 5, 4, 3, 4, 3]


[['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN', 'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5], ['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy', 4], ['DOG', 'dog', 3]]


['quick', 'brown', 'jumps', 'over', 'lazy']